body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
    background-image: url(../public/assets/vectors.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

h2{
  font-size: 35px;
}

li{
  font-size: 17px;
}

.container{
  width: 90%;

}

.row{
    width: 93%;
}