.testSec{
   height: 79vh;
}

.buttons{
    margin-top: 4%;
}

.questionBox{
    height: 40vh;
    width: 90vh;
}

.option:hover img{
    border: 2px solid blue;
}

.rangeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optionally set a height to center vertically in the viewport */
  }
  
  .rangeWrapper {
    text-align: center;
  }
  
  .range {
    width: 400px;
    display: flex;
    justify-content: center; 
  }
  